<div class= "c">
  <a href="/logout">Logout</a>
</div>

<h1>Dashboard</h1>

<h3>1.Add Your products</h3> <%= link_to  "CLick here", products_path%>

<h3>2.Add Category</h3> <%= link_to  "CLick here", users_category_path%>


<style type="text/css">
  div.c {
  text-align: right;
} 
</style>