<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_title %>
    <%= form.text_field :product_title %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%#= form.text_field :user_id %>
      <%= form.collection_select :user_id, User.order(:username),:id,:username, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%#= form.text_field :category_id %>
      <%= form.collection_select :category_id, Category.order(:category_name),:id,:category_name, prompt: true %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
