<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"></style>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<p id="notice"><%= notice %></p>

<h1>Recent Products</h1>
Sort By ASC:
<select id="sort">
    <option value="">[ choose a column ]</option>
    <option value="0">Product Title</option>        
    <option value="1">User</option>        
    <option value="2">Category</option>              
       
</select>
<br>
<div class="c">
Add a new product   <%= link_to 'Click Here', new_product_path %>
</div>

<style type="text/css">
  div.c {
  text-align: right;
} 

</style>
<br><br>

<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Product title</th>
      <th>User</th>
      <th>Category</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destory</th>

    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_title %></td>
        <td><%= product.user.username%></td>
        <td><%= product.category.category_name %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>

    var dataTable = $('#example').dataTable( {

          "pageLength": 2,
          "bLengthChange": false
          //"lengthMenu": [[10, 25, 50, -1], [2, 25, 50, "All"]]
    } );


$('#sort').change(function() {
    var col = $(this).val();
    dataTable.fnSort([ [ col, 'asc'] ]);
});
</script>




