<p id="notice"><%= notice %></p>

<p>
  <strong>Product title:</strong>
  <%= @product.product_title %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user.username %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.category_name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
